@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Admin Paneline Hoşgeldiniz</h1>
    <br><br>
    <img src="~/images/admin.jpg" max-width: 100%; height: auto;  alt="">
</div>
