@{
    ViewData["Title"] = "Home Page";
}

<br><br><br>

<form method="POST" action="/Home/Login_Controller" autocomplete="on" >

<br>
<h1 style="text-align: center;">Hoşgeldiniz</h1>
<div class="form-group">
    <input type="text" class="form-control" name="Email" placeholder="Email" autocomplete="off" >
</div>



<div class="form-group">
    <input type="password" class="form-control" name="Password" placeholder="Şifre" autocomplete="off">
</div>


<button type="submit" class="btn btn-secondary" >Giriş</button>

</form>